@charset "UTF-8";
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.footer__web, .footer__logo, .header__web, .header__logo {
  font-size: 26px;
  font-weight: 700;
}

.card__desk {
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 2px solid #ECECEC;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__logo {
  color: #000;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
  margin-right: auto;
  animation: logo-scale 5000ms alternate infinite;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
.header__web {
  color: #2196f3;
  font-family: "Raleway";
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header__list {
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    flex-direction: column;
    gap: 10px;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    flex-direction: row;
    gap: 30px;
  }
}
.header__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  color: #757575;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__link {
    font-size: 14px;
  }
}
.header__link:hover, .header__link:focus {
  color: #2196f3;
}
.header__link:hover .header__svg, .header__link:focus .header__svg {
  fill: #2196f3;
}
.header__link:hover .header__svg, .header__link:focus .header__svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.nav {
  display: flex;
  margin-right: auto;
}
.nav__list {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}
.nav__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__item {
  position: relative;
}

.active {
  color: #2196f3;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  display: block;
  position: absolute;
  bottom: -35px;
}
.active:hover :focus {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  position: absolute;
  bottom: -35px;
}

.hero {
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  animation-name: title-move;
  animation-duration: 2000ms;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    letter-spacing: 2.64px;
    line-height: 1.36;
    margin-bottom: 30px;
  }
}
.hero__button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background-color: #2196f3;
  padding: 10px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.advantages {
  padding-top: 94px;
  padding-bottom: 60px;
}
.advantages__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .advantages__list {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    flex-basis: auto;
  }
}
.advantages__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .advantages__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.advantages__item::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../image/tarilka.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
@media screen and (min-width: 480px) {
  .advantages__item::before {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item::before {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item::before {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.advantages__item:nth-child(2)::before {
  background-image: url(../image/time.jpg);
}
.advantages__item:nth-child(3)::before {
  background-image: url(../../image/vector.jpg);
}
.advantages__item:nth-child(4)::before {
  background-image: url(../image/kosmonavt.jpg);
}
.advantages__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__title {
    text-align: start;
  }
}
.advantages__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.work {
  display: none;
  padding-top: 34px;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .work {
    display: flex;
  }
}
.work__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  gap: 30px;
  width: 100%;
}
.work__item {
  flex-basis: calc((100% - 60px) / 3);
}
.work__box {
  position: relative;
}
.work__desk {
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.work__img {
  width: 100%;
}

.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
.team__title {
  margin-bottom: 50px;
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
}
.team__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
}
.team__item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__img {
  width: 100%;
}
.team__box {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__caption {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.48px;
  margin-bottom: 1px;
}
.team__desc {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.team__imegs {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.imegs__item {
  width: 44px;
  height: 44px;
}
.imegs__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}
.imegs__link:focus, .imegs__link:hover {
  background-color: #2196f3;
}
.imegs__link:focus .imegs__img, .imegs__link:hover .imegs__img {
  fill: #fff;
}
.imegs__img {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client__title {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.client__list {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
}
.client__item {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 100%;
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.client__link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .client__link {
    padding: 16px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    padding: 8.7px 10.564px 10.677px 11px;
  }
}
.client__link:hover, .client__link:focus {
  border: 1px solid #2196F3;
}
.client__link:hover .client__img, .client__link:focus .client__img {
  fill: #2196f3;
}
.client__img {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .footer .container {
    padding: 0 89px 0 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    padding: 0;
  }
}
.footer__wraper {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__wraper {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wraper {
    margin-right: 70px;
    text-align: start;
  }
}
.footer__logo {
  font-size: 24px;
  color: #fff;
  font-family: "Raleway";
  line-height: normal;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    letter-spacing: 0.78px;
    font-size: 26px;
  }
}
.footer__web {
  color: #2196f3;
  font-family: "Raleway";
  line-height: normal;
  letter-spacing: 0.72px;
  margin-top: 25px;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .footer__web {
    letter-spacing: 0.78px;
    font-size: 26px;
  }
}
.footer__list {
  margin-top: 9px;
  /* display: flex;
    flex-direction: column;
    gap: 9px; */
}
.footer__item {
  margin-bottom: 9px;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__div {
  width: 100%;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__div {
    margin-top: 0;
    margin-left: auto;
    width: auto;
  }
}
.footer__caption {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__caption {
    text-align: start;
  }
}
.footer__employees {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.footer__wrap {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    margin-left: auto;
    margin-top: 0;
  }
}
.footer__subtible {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__subtible {
    text-align: start;
  }
}
.footer__form {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__form {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    flex-wrap: nowrap;
    gap: 12px;
  }
}
.footer__input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .footer__input {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}
.footer__btn {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  padding: 10px 28px 10px 31px;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer__btn {
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }
}
.footer__svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.employees__link {
  width: 44px;
  height: 44px;
}
.employees__social {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.employees__social:focus, .employees__social:hover {
  background-color: #2196f3;
}
.employees__social:focus .employees__svg, .employees__social:hover .employees__svg {
  fill: #fff;
}
.employees__svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.address {
  margin-top: 20px;
  font-style: normal;
}
.address__link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 40px;
  position: relative;
}
.modal__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__sigma {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  display: block;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 10px;
}
.modal__box {
  position: relative;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__box__svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__box:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
}
.modal__box:hover .modal__svg {
  fill: #2196f3;
}
.modal__input {
  width: 370px;
  height: 40px;
  padding-left: 30px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal__svg {
  width: 18px;
  height: 18px;
  fill: #000;
  position: absolute;
  left: 12px;
  top: 11px;
}
.modal__coment {
  width: 370px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
  display: block;
  margin-bottom: 20px;
}
.modal__check {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}
.modal__span {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}
.modal__link {
  color: #2196f3;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}
.modal__button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 4px;
}
.modal__close {
  width: 30px;
  height: 30px;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: absolute;
  right: 14px;
  top: 14px;
}

.check-input {
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.close__svg {
  width: 18px;
  height: 18px;
}

.projeсt {
  padding-top: 94px;
  padding-bottom: 94px;
}
.projeсt__list {
  width: 326px;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .projeсt__list {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .projeсt__list {
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }
}
.projeсt__button {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projeсt__button:hover, .projeсt__button:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.card__list {
  gap: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.card__item {
  width: 100%;
  border: 1px solid #eee;
  background: #fff;
  transform: translateY(-20px);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .card__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.card__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.card__item:hover .card__desk {
  transform: translateY(0);
  opacity: 1;
}
.card__wrap {
  position: relative;
  overflow: hidden;
}
.card__desk {
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background: #2196f3;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  opacity: 0;
  overflow: hidden;
}
.card__box {
  padding: 20px 24px;
}
.card__img {
  width: 100%;
}
.card__title {
  color: #212121;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
.card__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}/*# sourceMappingURL=main.css.map */