.team {
    background-color: $team-background;
    padding-bottom: 94px;
    padding-top: 94px;

    &__title {
      margin-bottom: 50px;
      color: $text-color;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.16;
      letter-spacing: 1.08px;
    }
    
    &__list {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      width: 100%;
    }
    &__item {
    width: 100%;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
       
        @media screen and (min-width: 768px) {
          flex-basis: calc((100% - 30px) / 2);
        }
        @media screen and (min-width: 1200px) {
          flex-basis: calc((100% - 90px) / 4);
        }




      }
    
    &__img {
      width: 100%;
    }

    &__box {
      border-radius: 0px 0px 4px 4px;
      background: $main-background;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__caption {
      color: $text-color;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.16;
      letter-spacing: 0.48px;
      margin-bottom: 1px;
    }
    &__desc {
      color: $additional-color;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.16;
      letter-spacing: 0.48px;
      margin-bottom: 16px;
    }

    &__imegs{
      gap: 10px;
      // display: flex;
      // text-align: center;
      // justify-content: center;
      @include flexbox($wrap: nowrap);
        }
 
  }
  

  .imegs{
   
    &__item{
      
    width: 44px;
    height: 44px;

  
    }

       &__link{
        transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
    //     display: flex;
    //   align-items: center;
    // justify-content: center;
    @include flexbox($wrap: nowrap);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color:$main-background;   

        &:focus,
     &:hover{
      background-color: $accent-color;
    
       .imegs__img{
         fill: $main-background;
      }
     
     }
       }

    &__img{
      fill:  $img-fill;
      width: 20px;
    height: 20px;
    
    }
    
  }
  
 
  