.title {
color: rgb(0, 0, 0);
font-size: 31px;
text-decoration: none;
font-weight: 700;
}
.title2{
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.logo-web{
    color:#2196F3;
}
.banner-button{
    background-color: #2196F3;
}
footer {
    background-color: #2F303A;
    color: #fff;
}
 .footer {
    color: #fff;
}
address > a {
color: #FFFFFF99;
}
.text {
    color: #757575;
    font-size: 19;
    font-weight: 400;
}
.text2{
color: #212121;
font-size: 19;
font-weight: 700;
}
.black-button{
    font-size: 16px;
    color: #212121;
    font-weight: 500;
}
ul h3{
    color: #212121;
}
ul p {
    color: #757575;
}
@font-face{
    font-family: "Roboto", sans-serif;
    src: url(statical/Roboto/Roboto-Regular.ttf);
    src: url(statical/Roboto/Roboto-Medium.ttf); 
    src: url(statical/Roboto/Roboto-MediumItalic.ttf);
}

