@mixin flexbox ($justify:center ,$align:center, $wrap:wrap ,$direction:row){
    display: flex;
    justify-content: $justify;
    // justify-content: flex-start;
    align-items: $align;
    // align-items: stretch;
    flex-wrap: $wrap;
    // flex-wrap: nowrap;
    flex-direction: $direction;
    // flex-direction: row;
   
}